.profile {
    display: flex;
    text-align: center;
    background: #F3F7FB;
    color: var(--primary);
    margin-bottom: .94em;
}

.profile > * {
    flex: 1;
}

.profile .profile-info {
    display: flex;
    align-items: center;
}

.profile .profile-info img {
    width: 40px;
    border-radius: 50%;
    margin: 0 1em 0 2.8em;
}

@media (max-width: 710px) {
    .profile .profile-info img {
        margin: 0 1em 0 1em;
    }
}

@media (max-width: 410px) {
    .profile {
        padding: 0 1em;
    }
    .profile .profile-info img {
        margin: 0;
    }
}